@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;600;700;800&display=swap");

#slider_arrow{
  transform: rotate(180deg);
  position: absolute;
  right: 20px;
  transition: 1s;
}
.slider{
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  transition: 1s;
  bottom: 100px;
  right:0px;
  width: 110px;
  height: 170px;
  border-radius: 40px;
  text-align: center;
  background: #6CBC2F;
}
.slider svg{
  width: 36px;
  height: 34px;


}

.sidebar_container{
  transition: 1s;
  width: 550px;
  display: flex;
  justify-content: start;
  transform: translateX(-340px);

}
.container{
  z-index: 0;
  transition: 1s ;
  width: 100%;
  position: relative;
  height: 100vh;
  transform: translateX(-120px);

}
.sidebar {
  background-color: #6cbc2f;
  height: 100vh;
  width: 300px;
  transition: 1s ;
  padding: 20px;
  z-index: 1;
  
}

.sidebar p {
  color: #fff;
  font-family: League Spartan;
  margin-left: 10px;
  font-size: 20px;
  margin-bottom: 25px;
}

#title {
  letter-spacing: 2px;
  color: #d7dcf6;
  font-family: League Spartan;
  margin-left: -10px;
}

#page {
  z-index: 1000;
  bottom: 20px;
  text-align: center;
  font-family: Roboto;
  font-size: 177.474px;
  font-weight: 700;
  -webkit-text-stroke: 4px white; /* For Chrome, Safari, and newer versions of Firefox */
  color: transparent;
}
#behance,
#medium{
  margin-top: 3px;
}

.socials{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.socials a{
    color: #fff;
    text-decoration: none;
    font-family: League Spartan;
font-size: 24px;
font-weight: 500;

}
.social{
    display: flex;
    gap: 5px;
}
#icon{
width: 20px;
height: 20px;
flex-shrink: 0;
}
#arrow{
  margin-top: 7px;
}